<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p ng-repeat="text in (Author.impressum.split('<br>'))">{{text}}</p>
        <p ng-repeat="text in (Author.disclaimer.split('<br>'))">{{text}}</p>
    </div>
</div>