<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form>
            <br><br><br>
          <div class="form-group">
            <label for="SiteTitle">Seiten Title</label>
            <input type="text" ng-model="SiteTitle" class="form-control" id="SiteTitle" placeholder="Seiten Title">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">about</label>
            <textarea class="form-control" id="exampleInputPassword1" placeholder="Password"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default" data-ng-click="saveSettiungs()">Speichern</button>
        </form>
    </div>
</div>