<form ng-init="cmd='login'">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="username" ng-model="username" >
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="passwort" placeholder="Password" ng-model="password">
  </div>
  <div class="form-group" ng-show="cmd == 'signup'">
    <label for="password2">Password wiederholen</label>
    <input type="password" class="form-control" id="passwort2" placeholder="Password" ng-model="password2">
  </div>
    <button class="btn btn-default" ng-show="cmd == 'signup'" ng-click="(password == password2)? signup(username,password):password2=''">{{cmd}}</button>
    <br><a ng-show="cmd == 'signup'" ng-click="cmd = 'login'"> use existing account</a>
    <button class="btn btn-default" ng-hide="cmd == 'signup'" ng-click="login(username,password)">{{cmd}}</button>
    <br><a  ng-hide="cmd == 'signup'" ng-click="cmd = 'signup'">  click here to signup</a>
</form>