<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{Head.img}}')" >
    <div class="container">
        <div class="row">
            <div class="coL">
                <div class="site-heading">
                    <h3>{{Head.title}}</h3>
                    <hr class="small">
                    <span class="subheading">{{Head.subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>