<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">                   
                    <li ng-repeat="profil in Foot">
                        <a href="{{profil.link}}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-{{profil.name}} fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{Author.site}} {{Author.year}}     <a href="#/login"  >Admin</a></p>
            </div>
        </div>
    </div>
</footer>