<!--<div class="row">-->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{content.Headline}}</h4>
            </div>
            <div class="panel-body">
                <p>{{content.subtitle}}</p>
                <a href="#/post/{{$parent.$index}}" class="btn btn-default">Read More</a>
            </div>
        </div>
    </div>
<!--</div>-->