<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">     
           <content-item ng-repeat="item in posts[postId].text" content="item"></content-item>
    </div>
</div>