<post-preview ng-repeat="(id,post) in posts" content="post"></post-preview>
<!--
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div ng-repeat="(id,post) in posts" class="post-preview">
            <a href="#/post/{{id}}">
                <h2 class="post-title">
                    {{post.Headline}}
                </h2>
                <h3 class="post-subtitle">
                    {{post.subtitle}}
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="#">{{post.author}}</a> on {{post.date}}</p>
            <hr>
        </div>
    </div>
</div>-->