<!DOCTYPE html>
<html lang="en" ng-app="cms" ng-controller="cmsController">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="webdave">

    <title>{{SiteTitle}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/lib/html5shiv.js"></script>
        <script src="js/lib/respond.min.js"></script>
    <![endif]-->
    <script src="js/angular/angular.js" type="text/javascript"></script>
    <script src="js/angular/angular-route.js" type="text/javascript"></script>
    <script src="js/angular/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="js/angular/angular-resource.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
    <script src="js/factory.js" type="text/javascript"></script>
    <script src="js/directives.js" type="text/javascript"></script>
    <script src="js/filter.js" type="text/javascript"></script>
</head>

<body>

    <!-- Navigation -->
    <page-navigation></page-navigation>
    
    <!-- Page Header -->
    <page-header></page-header>

    <!-- Main Content -->
    <div class="container" ng-view></div>

    <hr>

    <!-- Footer -->
    <page-footer></page-footer>
    

    <!-- jQuery -->
    <script src="js/lib/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/lib/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/lib/clean-blog.min.js"></script>

</body>

</html>
